:root {
  --font-color: #2d3436;
  --h1-color: #777;
  --light-gray: #e5e5e5;
  --new-gray: #95a5a6;
  --green: #6ab04c;
  --white: #fff;
  --over: #f5f5f5;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background: var(--light-gray);
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.ad-category {
  width: 90%;
  margin: 40px auto;
}
.top-group {
  margin-bottom: 20px;
}
.form-input {
    display: block;
    width: 100%;
    height: 37px;
    padding: 6px;
    font-size: 13px;
    line-height: 1.846;
    color: var(--font-color);
    background-color: var(--white);
    border: none;
    outline: none;
    position: relative;
}

.ad-category {
  position: relative;
}
.top-group {
  padding: 10px 40px 10px 40px;
  border-radius: 5px;
  background: coral;
  -webkit-box-shadow: 1px 2px 10px -1px #aaa;
  -moz-box-shadow: 1px 2px 10px -1px #aaa;
  box-shadow: 1px 2px 10px -1px #aaa;
}
.ads-number {
  width: 100%;
  padding: 20px 20px 20px 0;
}
.category {
  width: 100%;
  margin: auto;
  padding: 50px;
  background: var(--white);
  -webkit-box-shadow: 1px 2px 10px -1px #aaa;
  -moz-box-shadow: 1px 2px 10px -1px #aaa;
  box-shadow: 1px 2px 10px -1px #aaa;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
.cat {
  background: var(--white);
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 1px 2px 10px -1px #aaa;
  -moz-box-shadow: 1px 2px 10px -1px #aaa;
  box-shadow: 1px 2px 10px -1px #aaa;
  transition: all 0.3s;
  transform: scale(1,1);
}
.cat:hover {
  -webkit-box-shadow: 1px 2px 10px -1px #aaa;
  -moz-box-shadow: 1px 2px 10px -1px #aaa;
  box-shadow: 1px 2px 18px 1px #aaa;
  transform: scale(1.01, 1.01);
}
.cat a {
  width: 100%;
}
.top-filter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.fa-icon {
  position: relative;
}
label.fa-icon:before {
  content:"\f041";
  font-family: "FontAwesome";
  font-size: 23px;
  z-index: 1;
  left:5px; top:7px;
  position:absolute;
}
.desc-text {
  margin: 10px 0;
  color: var(--white);
}
.ad-top {
  width: 100%;
  height: 200px;
  padding: 10px;
}
.ad-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ad-bottom {
  padding: 8px;
  height: 100%;
}
.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.ad-title, .ad-price, .ad-time, .ad-city {
  font-size: 1rem;
  margin-bottom: 10px;
}
.ad-title {
  font-weight: 700;
  color: #555;
}
.ad-price {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 1.3rem;
  color: #777;
}
.ad-time, .ad-city {
  margin-bottom: 0px;
  font-size: 0.9rem;
  color: #777;
}
.ad-bottom-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
