/* default common styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background: #E5E5E5;
}
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
a {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.btn {
  color: #f2f2f2;
  background: coral;
  padding: 12px 15px;
}
.btn:hover {
  background: #E8491D;
}
.btn:active {
  background: #b12701;
}
/* default common style ends */

/* header styles */
.logo-img {
  width: 190px;
  padding: 6px;
}
.branding{
  width: 100%;
  background: #fff;
  padding: 10px;
  position: relative;
  top: 0;
  z-index: 1;
}
.branding .logo {
  float: left;
  margin-left: 4em;
}
.branding .logo a {
  background: none;
}
.branding .goto {
  width: auto;
  float: right;
  margin-right: 20px;
  /* transform: translate(0%, 15%); */
}
.branding .goto a i {
  padding: 0px 8px;
  position: relative;
  display: inline;
}
.branding .group {
  position: relative;
  display: inline-block;
  width: auto;
}
.branding .goto .child {
  position: absolute;
  top: 0;
  left: 0;
}
/* header style ends */

/* dropdown in my account */
ul ul {
  display: none;
  position: absolute;
  width: 100%;
}
ul > li:hover ul.list {
  display: block;
}
ul li {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  list-style: none;
  text-align: center;
  cursor: pointer;
}
ul a {
  display: block;
  white-space: nowrap;
  width: 100%;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
}
/* dropdown style ends */


/* footer style */
footer {
  background: #272727;
  text-align: center;
  line-height: 30px;
  font-size: 1rem;
  color: #888;
  font-weight: 700;
  width: 100%;
  padding: 20px;
}
footer .content-left img {
  width: 120px;
}
/* footer style ends */



/* media query.................... */

@media all and (max-width: 991px) {
  /* nothing to change at all */
}
@media all and (max-width: 768px) {

  .branding .goto .btn {
    padding: 10px 13px;
  }
  .branding .goto a {
    font-size: 0.8rem;
  }
  footer .content-left img {
    width: 100px;
  }

}
@media all and (max-width: 575px) {
  .branding .logo {
    float: none;
    text-align: center;
    margin: 20px 0;
  }
  .branding .goto {
    width: auto;
    float: none;
    text-align: center;
    margin-right: 0px;
  }
  .branding .goto .btn {
    padding: 10px 40px;
  }
}
@media all and (max-width: 412px) {
  .branding .goto > a, .branding .goto .parent > a {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  .branding .group {
    width: 100%;
  }
}
