:root {
  --font-color: #2d3436;
  --h1-color: #777;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background: #E5E5E5;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.search-default {
  font-family: 'Ubuntu', sans-serif;
  color: var(--h1-color);
  font-size: 1rem;
  height: 40px;
  padding: 10px;
  outline: none;
  border: none;
}
.row {
  padding: 25px 50px 0 50px;
  text-align: center;
  width: 100%;
}
.col {
  display: inline-block;
  width: 30%;
  height: auto;
  margin: 10px auto;
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

section#header-top {
  background: url('../images/main.jpeg') no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
}
section#header-top div.overlay {
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
  position: absolute;
}
section#header-top div.nav {
  width: 100%;
  position: absolute;
}
section#header-top .nav div.tagline {
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}
section#header-top .nav div.tagline h1 {
  font-size: 3rem;
  font-weight: 300;
  padding: 10px;
}
section#header-top .nav div.tagline p {
  font-size: 1.3rem;
  font-weight: 200;
}
.search {
  text-align: center;
  width: 100%;
}
.search .select-container {
  display: inline-block;
  background: #fff;
  padding-left: 11px;
  color: var(--font-color);
  border: 1px solid #fff;
}


.location, .control {
  display: inline-block;
}
.select-container i {
  color: var(--h1-color);
}
section#header-top .nav .search input[type="text"] {
  width: 40%;
  padding: 21px;
}
section#header-top .nav .search .select {
  width: 200px;
  border: none;
  outline: none;
  background-color: #fff;
}
section#header-top .nav .search a i {
  padding-right: 5px;
}
#categories {
  background: #fff;
  position: relative;
  z-index: 1;
  top: -55px;
  border-radius: 5px 5px 0 0;
  width: 90%;
  margin: auto;
  padding-bottom: 70px;
}
#categories .row .col .img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
#categories .row .col .img img {
  width: 60px;
}
#categories .row .col .desc {
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--font-color);
  padding: 12px 13px;
}
#categories .row .col  a {
  background: none;
}
#categories .row .col  a:hover {
  background: #ebebeb;
}
section#recent {
  background: #f3f3f3;
  width: 90%;
  margin: auto;
  padding: 40px 0px;
  position: relative;
  top: -55px;
  text-align: center;
}
section#recent h1 {
  text-align: center;
  color: var(--h1-color);
  font-size: 2rem;
  padding: 50px;
}
section#recent .content .box {
  display: inline-block;
  width: 20%;
  margin: 15px;
  margin: 15px;
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #cfc7c7;
}
section#recent .box .image {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
}
section#recent .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 200ms ease-in;
  transform: scale(1);
}
section#recent .box .title {
  margin-top: 10px;
  font-size: 0.9rem;
  color: var(--h1-color);
  text-align: center;
}
section#recent .box .image a {
  z-index: 2;
  width: 100%;
  height: 100%;
  background: none;
  position: absolute;
  opacity: 0.3;
  top: 0;
  padding: 0;
}
section#recent .box .image a:hover {
  background: #333;
}
section#recent .box .image a:hover + img {
  transition: all 200ms ease-in;
  transform: scale(1.2);
}
section#recent .content .pagination ul {
  list-style-type: none;
  margin: 40px 0 15px 0;
}
section#recent .content .pagination ul li {
  display: inline-block;
}


/* media query.................... */

@media all and (max-width: 991px) {
  #categories .row .col .desc {
    font-size: 0.9rem;
    padding: 10px 12px;
  }
  section#header-top .nav .search .select {
    width: 90%;
  }
  .search {
    width: 70%;
    margin: auto;
  }
  .search .select-container {
    margin-bottom: 5px;
  }
  .select-container {
    width: 49%;
  }
  section#header-top .nav .search input[type="text"] {
    width: 78%;
  }
  section#header-top .btn {
    width: 20%;
  }
}

@media all and (max-width: 768px) {

  .col {
    width: 40%;
    margin: 10px;
    overflow: hidden;
  }

  #categories .row .col .img img {
    width: 50px;
  }
  #categories .row .col .desc {
    font-size: 0.8rem;
    color: var(--h1-color);
    padding: 10px 12px;
  }

  section#recent .content .box {
    width: 30%;
    margin: 13px;
  }
  section#recent .box .title {
    font-size: 0.8rem;
  }

  section#header-top .nav div.tagline h1 {
    font-size: 2.5rem;
  }
  section#header-top .nav div.tagline p {
    font-size: 1rem;
  }
  section#header-top .search-default {
    font-size: 0.8rem;
    padding: none;
  }
  section#header-top a {
    font-size: 0.8rem;
  }
  section#header-top .btn {
    padding: 13px 15px;
  }

  section#recent a {
    font-size: 0.8rem;
  }

}

@media all and (max-width: 575px) {

  .row {
    padding: 25px 0px 0 0px;
  }
  .col {
    width: 50%;
    float: left;
    margin: 10px 0;
  }
  section#header-top {
    height: 400px;
  }
  section#header-top .nav div.tagline p {
    display: none;
  }
  section#header-top .vertical-center {
    position: relative;
    top: 25%;
    transform: translate(0%, -25%);
  }
  section#header-top .nav div.tagline {
    margin-bottom: 10px;
  }
  section#header-top .nav div.tagline h1 {
    font-size: 2rem;
  }
  section#header-top .nav .search .select-container {
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 5px;
  }
  section#header-top .nav .search .select {
    width: 90%;
  }
  section#header-top .nav .search input[type="text"] {
    width: 70%;
    margin: 5px auto;
    padding: 5px 21px;
    display: block;
  }
  section#header-top .btn {
    padding: 13px 15px;
    width: 70%;
  }
  section#recent .content .box {
    width: 40%;
  }
  .search {
    width: 90%;
  }

}

@media all and (max-width: 412px) {

  #categories {
    position: relative;
    top: -55px;
    width: 100%;
  }
  .col {
    width: 49%;
    float: none;
    margin: 10px 0;
  }
  section#header-top .nav .search .select-container i {
    display: none;
  }
  section#header-top .nav .search .select-container {
    padding-left: 0px;
    border: 0px;
  }
  section#recent .content .box {
    width: 80%;
  }

}

@media all and (max-width: 320px) {
  .col {
    width: 100%;
  }
}
