body {
  color: #888;
}
.shadow {
  box-shadow: 3px 8px 30px #999;
}
.login-content {
  width: 40%;
  padding: 50px;
  margin: 100px auto;
  background: #fff;
}
.login-content h1 {
  margin: 10px;
  text-align: center;
}
.forgot {
  float: right;
}
a.forgot, a.new-account {
  display: inline-block;
  margin: 13px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  color: #888;
}
a.forgot:hover, a.new-account:hover {
  color: #E8491D;
}


/* media query.................... */

@media all and (max-width: 991px) {
  .login-content {
    width: 60%;
  }
}

@media all and (max-width: 768px) {
  .login-content {
    width: 80%;
  }
}

@media all and (max-width: 575px) {
  .login-content {
    width: 85%;
    padding: 30px 10px;
    margin: 100px auto;
  }
}

@media all and (max-width: 412px) {
  .login-content {
    width: 95%;
    padding: 30px 5px;
    margin: 100px auto;
  }
}
