body {
  color: #888;
}
.shadow {
  box-shadow: 3px 8px 30px #999;
}
.row-md {
  width: 100%;
  float: left;
  padding: 13px;
}
.btn-submit {
  margin: 5px 13px;
  width: 170px;
}
.btn {
  color: #f2f2f2;
  background: coral;
  padding: 12px 15px;
}
.btn:hover {
  background: #E8491D;
}
.btn:active {
  background: #b12701;
}
input[type='submit'] {
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  border: none;
}
/* input[type='submit']:hover {
  background: #E8491D;
}
input[type='submit']:active {
  background: #b12701;
} */
.form {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 0.9rem;
  line-height: 1.42857143;
  color: #888;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-content {
  width: 40%;
  padding: 50px;
  margin: 100px auto;
  background: #fff;
}
.login-content h1 {
  margin: 10px;
  text-align: center;
}
.forgot {
  float: right;
}
a.forgot, a.new-account {
  display: inline-block;
  margin: 13px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  color: #888;
}
a.forgot:hover, a.new-account:hover {
  color: #E8491D;
}


/* media query.................... */

@media all and (max-width: 991px) {
  .login-content {
    width: 60%;
  }
}

@media all and (max-width: 768px) {
  .login-content {
    width: 80%;
  }
}

@media all and (max-width: 575px) {
  .login-content {
    width: 85%;
    padding: 30px 10px;
    margin: 100px auto;
  }
}

@media all and (max-width: 412px) {
  .login-content {
    width: 95%;
    padding: 30px 5px;
    margin: 100px auto;
  }
}
