:root {
  --font-color: #2d3436;
  --h1-color: #777;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--h1-color);
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  background: #E5E5E5;
}
h1 {
  font-size: 1.5rem;
  margin: 5px;
}
p {
  font-size: 0.9rem;
  margin: 3px;
}
a {
    display: inline-block;
    text-decoration: none;
    height: 100%;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}
.row-md {
  width: 100%;
  float: left;
  padding: 15px;
  padding-left: 50px;
  text-align: left;
}
.row-md-ad {
  width: 100%;
  float: left;
  padding: 20px 0 20px 20px;
  text-align: left;
}
.row-md-2 {
  width: 50%;
  float: left;
  padding: 20px;
  padding-left: 50px;
  text-align: left;
}
.row-md-2-no-padding {
  padding-left: 0;
}
.form {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 0.9rem;
  line-height: 1.42857143;
  color: var(--h1-color);
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.clearfix:after {
   content: '';
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.btn-normal {
  text-align: center;
  margin: 0 5px 5px 0 ;
  width: 80px;
  float: left;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  color: #f2f2f2;
  background: coral;
  padding: 0.3em 1em;
}
.btn-normal:hover {
  background: #E8491D;
}
.btn-normal:active {
  background: #b12701;
}
#profile {
  padding: 60px;
  width: 90%;
  margin: auto;
  text-align: center;
}
.profile-sidenav {
  width:35%;
  display: inline-block;
  vertical-align: top;
  background: #f2f2f2;
}
.profile-content {
  width: 60%;
  min-height: 412.469px;
  padding: 40px;
  display: inline-block;
  vertical-align: top;
  background: #fff;
}
.disable:disabled {
  pointer-events: none;
}
.main-title h1 {
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #cdcdcd;
}
.profile-detail {
  text-align: center;
  margin-top: 40px;
}
.profile-detail h1 {
  font-size: 1.5rem;
}

.links {
  margin-top: 40px;
}
.links i {
  font-size: 20px;
  padding: 0 40px 0 30px;
  display: inline;
  color: var(--h1-color);
}
.profile-detail .avatar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
}
.user-detail {

}
.user-detail h1, .user-detail p {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.links ul {
  width: 100%:
}
.links li {
  text-align: left;
  margin-bottom: 2px;
}
.links li:last-of-type {
  margin-bottom: 0;
}
.links a {
  color: var(--h1-color);
  display: block;
  padding: 0.8em 1.5em;
  text-decoration: none;
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
.active-link {
  border-left: 4px solid coral;
  background: #fff;
}
.active-icon i {
  color: coral;
}
.links li:hover:not(.active-link) {
  border-left: 4px solid coral;
  background: #fff;
}
.links li:hover i {
  color: coral;
}
.title {
  font-size: 1.5rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ad-pic {
  width: 30%;
  height: 100px;
  float: left;
  overflow: hidden;
}
.ad-detail {
  width: 65%;
  float: left;
  margin-left: 10px;
  text-align: left;
  color: var(--h1-color);
}
.ad-detail h1 {
  margin: 0;
}
.title {
  font-size: 1.1rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 8px 0;
}
.price {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 8px;
}



/* media query.................... */

@media all and (max-width: 991px) {
  .profile-sidenav {
    width: 40%;
  }
  .row-md {
    padding: 10px;
    padding-left: 0px;
}
  .row-md-ad {
    padding: 0px 0 20px 0px;
  }
  #profile {
    padding: 40px 0px;
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  .row-md label {
    font-size: 0.9rem;
  }
  p {
    font-size: 0.8rem;
  }
  .form {
    padding: 6px 10px;
    font-size: 0.8rem;
  }
  #profile {
    padding: 0px;
  }
  .profile-content {
    padding: 20px 30px;
    min-height: 350.094px;
  }
  .profile-detail h1 {
    font-size: 1rem;
  }
  .date, .price {
    font-size: 0.8rem;
  }
  .avatar {
    width: 80px;
    height: 80px;
  }
  .links i {
    font-size: 16px;
    padding: 0 20px 0 30px;
  }
  .links a {
    font-size: 0.9rem;
    padding: 0.8em 0em;
  }
}

@media all and (max-width: 575px) {
  .profile-content {
    width: 100%;
    min-height: auto;
    padding: 15px 10px;
  }
  .profile-sidenav {
    width: 100%;
  }
  .profile-detail {
    margin-top: 20px;
  }
  .links li {
    text-align: center;
  }
  .links i {
    font-size: 14px;
    padding: 0 20px 0 0px;
  }
  .links {
    margin-top: 20px;
  }
  .title {
    font-size: 1rem;
  }
  #hide {
    display: none;
  }
}

@media all and (max-width: 412px) {
  .row-md {
    padding: 10px 0;
  }
}
