:root {
  --font-color: #2d3436;
  --h1-color: #777;
  --light-gray: #e5e5e5;
  --new-gray: #95a5a6;
  --green: #6ab04c;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background: var(--light-gray);
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.container {
  width: 90%;
  margin: 50px auto;
  padding: 20px 15px;
  background: #fff;
  font-size: 1rem;
}
.pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  overflow: hidden;
}
.user h1, .user p {
  text-align: center;
  margin: 0.2em 0;
  color: var(--h1-color);
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user h1 {
  font-size: 1.4rem;
  }
.user-desc {
  position: relative;
  margin: 20px 0;
  padding: 10px;
  background: var(--light-gray);
}
.pic {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.user-desc img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ad-desc {
  float: left;
  width: 60%;
  padding: 10px;
  border-right: 1px solid var(--light-gray);
}
.right-panel {
  float: left;
  width: 40%;
  height: auto;
}
.book-desc {
  padding: 10px 20px;
}
.ad-title {
  margin-bottom: 20px;
}
.ad-title h1 {
  color: var(--h1-color);
  font-size: 1.6rem;
}
.ad-info {
  border-top: 1px solid var(--light-gray);
  padding: 15px 0;
}
.ad-info i {
  margin: 0 7px;
  color: var(--h1-color);
}
.ad-data {
  color: var(--h1-color);
  float: left;
  margin: 5px 20px 5px 0;
}
.slider-image {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.slider-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slide-btn {
  position: absolute;
  font-size: 4em;
  color: limegreen;
  font-weight: 900;
  z-index: 1;
  cursor: pointer;
}
.slide-btn:hover {
  color: green;
}
.left {
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
.right {
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
.slides {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.3s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.ad-price {
  padding: 10px;
  border-radius: 5px;
  background: var(--green);
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  color: #fff;
}
.ad-description {
  padding: 20px;
}
.ad-description p {
  text-align: left;
  font-size: 1rem;
  color: var(--font-color);
}
.ad-description div {
  border-bottom: 1px solid var(--light-gray);
  margin: 20px 0;
}
.ad-description h1 {
  text-align: left;
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--h1-color);
}




/* media query.................... */

@media all and (max-width: 991px) {
  .ad-price {
    font-size: 2.1rem;
  }
  .container {
    width: 95%;
  }
  .ad-description {
    padding: 10px;
    margin: 0;
  }
  .ad-description div {
    border-bottom: 1px solid var(--light-gray);
    margin: 0 0 20px 0;
  }
  .book-desc {
    padding: 10px 10px;
  }
}

@media all and (max-width: 768px) {
  .right-panel {
    float: none;
    width: 100%;
  }
  .container {
    font-size: 0.8rem;
    width: 100%;
    margin: 0;
    padding: 20px 8px;
    border-top: 2px solid var(--light-gray);
  }
  .user h1 {
    font-size: 1.3rem;
  }
  .ad-title h1 {
    font-size: 1.3rem;
  }
  .ad-price {
    font-size: 1.4rem;
  }
  .ad-desc {
    float: none;
    width: 100%;
    padding: 10px;
    border-right: 0;
    margin-bottom: 20px;
  }
  .ad-desc h1 {
    font-size: 1.5rem;
  }
  .pic {
    width: 60px;
    height: 60px;
  }
  .book-desc {
    float: left;
    width: 40%;
  }
  .ad-description {
    float: left;
    width: 60%;
  }
}

@media all and (max-width: 575px) {
  .book-desc {
    float: none;
    width: 100%;
  }
  .ad-description {
    float: none;
    width: 100%;
  }
}

@media all and (max-width: 412px) {
  .ad-desc h1 {
    font-size: 1.4rem;
  }
  .ad-description h1 {
    font-size: 1.5rem;
  }
}
