* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background: #E5E5E5;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.search-default {
  font-family: 'Ubuntu', sans-serif;
  color: #666;
  font-size: 1em;
  height: 40px;
  padding: 10px;
  outline: none;
  border: none;
}
.btn-default {
  border: none;
  background: coral;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  padding: 11px 15px;
  cursor: pointer;
  outline: none;
}
.row {
  padding: 25px 50px 0 50px;
  text-align: center;
}
.col {
  display: inline-block;
  width: 30%;
  height: 250px;
  /* border: 1px solid; */
  margin: auto;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #f2f2f2;
  font-size: 1em;
  padding: 12px 15px;
  background: coral;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}
a:hover {
  background: #E8491D;
}
a:active {
  background: #b12701;
}
section#header-top {
  background: url('../images/main.jpeg') no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
  padding-top: 50px;
  border-bottom: 4px solid #E8491D;
}
section#header-top .nav .branding .logo span {
  color: #E8491D;
}
div.overlay {
  top: 0;
  right:0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  position: absolute;
}
div.nav {
  width: 80%;
  margin: auto;
  position: relative;
}
.branding{
}
section#header-top .nav .branding .logo {
  float: left;
}
section#header-top .nav .branding .logo h1 {
  font-size: 2.5em;
  color: #f2f2f2;
}
section#header-top .nav .branding .goto {
  float: right;
}
section#header-top .nav .branding .goto a i {
  padding-right: 5px;
}

section#header-top .nav .search {
  text-align: center;
  width: 100%;
  margin: 50px auto 0px auto;
}
section#header-top .nav .search input[type="text"] {
  width: 40%;
}
section#header-top .nav .search .select {
  width: 200px;
}
section#header-top .nav .search a i {
  padding-right: 5px;
}
#categories {
  background: #fff;
  position: relative;
  top: -55px;
  border-radius: 5px 5px 0 0;
  width: 90%;
  margin: auto;
}
#categories img {
  display: block;
  width: 60px;
  margin: auto;
}
#categories h2 {
  display: block;
  margin: 10px;
}
